:root {
    --main-background-color:#EAEAEA;
    --purple: #9356DC;
    --pink: #FF79DA;
    --green: #99E2D0;
    --light-purple: #F5EDFF;
    --footer-color: #353535;
    --button-light-pink: #fd96e0;
    --button-light-purple: #a981d9;
}